{% extends 'index.html' %}
{% block content %}
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque vitae ducimus hic, reprehenderit fuga velit aliquid provident sint esse facere commodi molestias minima minus quo. Sit, et voluptatem. Sit, deserunt!
Asperiores, maxime nam! Aut et, velit quos ad illum quibusdam praesentium excepturi deserunt quasi ut dolorem assumenda amet id non. Vitae, libero reiciendis. Ratione a quam aliquam veniam, corrupti error?
Cumque possimus maxime earum veritatis? Mollitia assumenda magnam repudiandae hic perspiciatis, fugiat tempore maiores, quam vitae soluta minima nostrum odio voluptas consequatur eos distinctio, at blanditiis rerum nesciunt qui eum?</p>

{% endblock  %}